.container {
  background-color: rgb(10, 15, 21);
  border: #202531a4 solid 2px;
  width: 45%;
  height: 80%;
  text-align: center;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  box-shadow: 0 15px 25px #0000004a;
}
