header {
  width: 100%;
  height: 8%;
  background-color: rgb(10, 15, 21);
  margin-top: 0%;
}
.w-10 {
  width: 10%;
}
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.menu-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  color: #979aa1;
}

.menu-nav li {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.underline-active:hover {
  border-bottom: 5px solid #a02247;
  color: white !important;
}
