@font-face {
  font-family: light;
  src: url("./Geologica-Light.ttf");
}
@font-face {
  font-family: medium;
  src: url("./Geologica-Medium.ttf");
}
@font-face {
  font-family: bold;
  src: url("./Geologica-SemiBold.ttf");
}
