.sidebar {
  width: 8%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-style {
  list-style: none;
  span {
    font-size: 27px;
  }

  button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-bottom: 40px;
  }
  button :hover {
    color: #db1349;
  }
  button :focus {
    color: #db1349;
  }
}
.list-style a {
  display: block;
  color: #fff;
  margin-bottom: 40px;
}
.list-style li:hover a {
  color: #db1349;
}
.list-style li:focus a {
  color: #db1349;
}

.setting-menu {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: end;
  justify-content: center;
}
