@import "@/assets/fonts/fonts.css";

.ressetpass-section {
  height: 100%;
  width: 100%;
  background-color: #f2f5f6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ressetpass-title {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;

  h1 {
    font-family: bold;
    font-size: 3em;
    color: #4f45e4;
    margin-bottom: 1%;
  }

  p {
    text-decoration: none;
    color: #424a57;
    font-family: medium;

    font-size: 18px;
  }
}
.ressetpass-form {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  input {
    width: 220px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: medium;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 5px 15px 0px;
  }
  input ::placeholder {
    color: rgba(255, 255, 255, 0.917);
    text-align: center;
  }
}

.ressetpass-error {
  width: 100%;
  height: 10%;
  margin-top: 1rem;
  color: #4f45e4;
  font-family: medium;
  font-size: 23px;
}
