@import "../assets/fonts/fonts.css";

.signinFirst {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register {
  width: 100%;
}

.signinFirst p {
  color: white;
  margin-bottom: 5%;
}

.showOption {
  width: 50%;
  height: 50%;
  margin-top: 10%;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
